/bin/quick-ssh/*
/bin/**/inCygwin
/bin/**/inMacOS
/bin/**/inLinux
!/bin/quick-ssh/Makefile
!/bin/quick-ssh/ssh-to
!/bin/quick-ssh/make-ssh-config-for

/etc/home/byobu/.screenrc
/etc/home/byobu/.tmux.conf
/etc/home/byobu/windows
/etc/home/byobu/windows.tmux
/etc/home/emacs.d/*
!/etc/home/emacs.d/init.el
!/etc/home/emacs.d/Makefile

!/etc/home/ssh/*.pub
!/etc/home/ssh/authorized_keys
!/etc/home/ssh/config
!/etc/home/ssh/config.default
!/etc/home/ssh/environment
!/etc/home/ssh/known_hosts
!/etc/home/ssh/ssh-open
!/etc/home/ssh/sshd_config

/secrets
/secrets.txt

