<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ExposureCreationParamsLV">
    <Require
      name="params"
      type="gw.api.database.IQueryBeanResult&lt;ExposureCreationParam&gt;"/>
    <RowIterator
      editable="true"
      elementName="param"
      hideCheckBoxesIfReadOnly="true"
      toCreateAndAdd="new ExposureCreationParam()"
      toRemove="param.remove()"
      value="params">
      <Row>
        <Cell
          editable="true"
          id="LossType"
          label="displaykey.ruleparam.exposurecreation.LossType"
          required="false"
          value="param.LossType"/>
        <Cell
          editable="true"
          id="LOBCode"
          label="displaykey.ruleparam.exposurecreation.LOBCode"
          required="false"
          value="param.LOBCode"/>
        <Cell
          editable="true"
          id="PolicyType"
          label="displaykey.ruleparam.exposurecreation.PolicyType"
          required="false"
          value="param.PolicyType"/>
        <Cell
          editable="true"
          id="LossCause"
          label="displaykey.ruleparam.exposurecreation.LossCause"
          required="false"
          value="param.LossCause"/>
        <Cell
          editable="true"
          id="CoverageType"
          label="displaykey.ruleparam.exposurecreation.CoverageType"
          required="true"
          value="param.CoverageType"/>
        <Cell
          editable="true"
          id="Incident"
          label="displaykey.ruleparam.exposurecreation.Incident"
          required="true"
          value="param.Incident"/>
        <Cell
          id="arrow"
          value="&quot;&#8594;&quot;"/>
        <Cell
          editable="true"
          id="LossPartyType"
          label="displaykey.ruleparam.exposurecreation.LossPartyType"
          required="true"
          value="param.LossPartyType"/>
        <Cell
          editable="true"
          id="CoverageSubtype"
          label="displaykey.ruleparam.exposurecreation.CoverageSubtype"
          required="true"
          value="param.CoverageSubtype"/>
        <Cell
          editable="true"
          id="ExposureType"
          label="displaykey.ruleparam.exposurecreation.ExposureType"
          required="true"
          value="param.ExposureType"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>