<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="ExposureCreationParams"
    title="displaykey.ruleparam.exposurecreation.ExposureCreationRuleParameters">
    <LocationEntryPoint
      signature="ExposureCreationParams()"/>
    <Variable
      initialValue="ExposureCreationParam.findAll()"
      name="params"/>
    <Screen
      id="ExposureCreationParamsScreen">
      <Toolbar
        reflectOnBottom="true">
        <EditButtons/>
        <IteratorButtons/>
      </Toolbar>
      <Verbatim
        label="displaykey.ruleparam.exposurecreation.desc"/>
      <PanelRef
        def="ExposureCreationParamsLV(params)"
        id="ExposureCreationParamsLVPanelRef"/>
    </Screen>
  </Page>
</PCF>